h1{

font-family: 'Montserrat', sans-serif;

font-size: 19px;

}

h2{

font-family: 'Montserrat', sans-serif;

font-size: 19px;

font-weight: bold;

}

h3{

font-family: 'Montserrat', sans-serif;

font-size: 10px;

font-weight: 100;

word-spacing: 2px;



}

h4{

font-family: 'Montserrat', sans-serif;

font-size: 10px ;

font-weight: 100;

letter-spacing: 15px;

}

h5{

font-family: 'Montserrat', sans-serif;

font-size: 19px;



}

h6{

font-family: 'Montserrat', sans-serif;

font-size: 9px;

font-weight: 500;

}

p{

font-family: 'Montserrat', sans-serif;

font-size: 14px;

font-weight: bold;} 